<div class="text-center mt-5">
    <h1 class="text-success">Спасибо за заказ!</h1>
    <p class="lead">Ваш заказ успешно оформлен и передан в обработку.</p>
    <a href="/" class="btn btn-primary">Вернуться на главную</a>
</div>